#background_pattern

#black_block_1.black_block
  #top_section.container.center
    #logo.full_width
      =image_tag('fa_logo_left_white.svg', alt: 'Futures Academy')

    #strapline.full_width.restricted_section
      %h2 Learn together to lead the public service organisations of tomorrow.  Delivered locally, connected nationally.

    #partners.full_width
      .partner_logos
        .title Delivery partners:
        =image_tag('partners/catapult_white.svg', alt: 'Future Cities Catapult')
        =image_tag('partners/futuregov_white.svg', alt: 'FutureGov')
        =image_tag('partners/nesta_white.svg', alt: 'Nesta')
        =image_tag('partners/penna_white.svg', alt: 'Penna')
        =image_tag('partners/your_logo_here_white.svg', alt: 'Your Logo Here')

      .partner_logos
        .title Learning partners:
        =image_tag('partners/essex_white.svg', alt: 'Essex City Council')
        =image_tag('partners/nelincs_white.svg', alt: 'North East Lincolnshire Council')
        =image_tag('partners/your_logo_here_white.svg', alt: 'Your Logo Here')
      .center
        %button Become a Partner

#black_block_2.black_block
  .container
    .full_width.restricted_section
      %h2 A programme built with you, for you
      %p We understand every place is different. We’re currently co-developing a local learning programme that brings together public sector teams with thought leaders, service design practitioners, organisational specialists, policy and social change experts.
      %p We will take a multi-tiered, tailored approach to delivering the skills, support and behaviours that your organisation’s needs. Our project-based learning will be coupled with events, individual coaching, long-format learning modules and cross-sector workshops. Working with you to develop tomorrow’s leaders and today’s front line delivery managers.
    .full_width.center
      %button Keep me Informed

#black_block_3.black_block
  .container
    .full_width.restricted_section
      %h2 About Our Partnership
      %p Futures Academy is a partnership between Future Cities Catapult, FutureGov, Nesta and Penna for public sector organisations. Designed to help public servants create and lead the public service organisations of tomorrow.
      %p Over the coming months the Futures Academy team will be developing a number of learning partnerships within Councils, across public sector partnerships, among leaders and focused on specific delivery challenges. With a clear focus on practical action and outcomes for citizens and communities, this partnership will bring the latest and emerging thinking to current and future challenges, creating over time solutions and approaches that will be be informed by the global community.

:javascript
  function simpleParallax() {
      var scrolled = $(window).scrollTop() + 1;
      $('#background_pattern').css('background-position', '0' + -(scrolled * 2) + 'px');
  }
  //Everytime we scroll, it will fire the function
  $(window).scroll(function (e) {
      simpleParallax();
  });
