#top_section.container.center
  #logo.full_width
    =image_tag('fa_logo_large.svg', alt: 'Futures Academy')

  #strapline.restricted_section
    %h2 Learn together to lead the public service organisations of tomorrow.  Delivered locally, connected nationally.

  #partners.restricted_section
    %h2 Delivery partners:
    %h2 Learning partners:
    %button Become a partner


.container
  .full_width.restricted_section
    %h2 A programme built with you, for you
    %p We understand every place is different. We’re currently co-developing a local learning programme that brings together public sector teams with thought leaders, service design practitioners, organisational specialists, policy and social change experts.

    %p We will take a multi-tiered, tailored approach to delivering the skills, support and behaviours that your organisation’s needs. Our project-based learning will be coupled with events, individual coaching, long-format learning modules and cross-sector workshops. Working with you to develop tomorrow’s leaders and today’s front line delivery managers.
