.home.alternative {
  background-color: $white;
  color: $white;

  #top_section {
    text-align: left;
  }
  .restricted_section {
    @include desktop {
      @include grid-push(0);
    }
  }
  #partners {

  }

  footer, header {
    background: $black;
  }
  #footer_pattern {
    display: none;
  }
  #background_pattern {
    width: calc(100% + 75px);
    height: 100%;
    top: 0;
    position: fixed;
    z-index: -2;
    left: -75px;
    background: image-url('background_pattern.svg') repeat fixed;
  }


  .black_block {
    background-color: $black;
    margin-bottom: 150px;
  }

  #black_block_1 {
    &:after {
      background: inherit;
      content: '';
      display: block;
      height: 70px;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(1.75deg);
      transform-origin: 100%;
      margin-top: 0;
      z-index: -1;
    }
  }
  #black_block_2 {
    &:before {
      background: inherit;
      content: '';
      display: block;
      height: 70px;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(1.75deg);
      transform-origin: 100%;
      margin-top: 2px;
      z-index: -1;
    }
    &:after {
      background: inherit;
      content: '';
      display: block;
      height: 70px;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-1.75deg);
      transform-origin: 100%;
      margin-top: -72px;
      z-index: -1;
    }
  }
  #black_block_3 {
    margin-bottom: 0px;
    &:before {
      background: inherit;
      content: '';
      display: block;
      height: 70px;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-1.75deg);
      transform-origin: 100%;
      margin-top: -70px;
      z-index: -1;
    }
  }
}
